.btn-primary,
.btn-light,
.card {
    border-radius: 0;
    border: 0;
}

.btn-light {
    border: 1px solid #CCCCCC;
}

.card {
    padding: 20px;
}

thead {
    background: #181C25;
    color: #FFFFFF;
}

table,
tr,
th,
td {
    text-transform: uppercase;
}