a {
    text-decoration: none;
    color: #000000;
}

.back-menu:hover {
    color: #be2f32;
    transition: .5s;
}

.card {
    border-radius: 0;
    border: 0;
    padding: 10px;
}

.feedback-card {
    margin-top: 10px;
}

thead {
    background: #181C25;
    color: #FFFFFF;
}