a {
    text-decoration: none;
    color: #000000;
}

.back-menu:hover {
    color: #be2f32;
    transition: .5s;
}

.btn-danger,
.card {
    border-radius: 0;
    border: 0;
}

.btn-danger {
    width: 10%;
    margin-bottom: 10px;
}

.card {
    padding: 10px;
}

thead {
    background-color: #181C25;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .btn-danger {
        width: 20%;
    }
}