    .margin{
            margin: 2px;
        }
    .margin_top{
        margin-top: 10px;
    }

    .container{
        padding: 1%;
        margin-top: 2%;
        background: gray;
    }
    
    body{
        background-image: url(../settings/bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Josefin Sans',sans-serif;
      }
  
      .container{
       padding: 1%;
       margin-top: 2%;
       background: gray;
       color: white;
     }
